.Main
  .Main__group-info
    .Main__group-info--group-name
      .Main__group-info--group-name--name
        = @group.name
      .Main__group-info--group-name--member
        Member :
        - @group.users.each do |member|
          = member.name
        さん

    .Main__group-info--edit
      = link_to edit_group_path(current_user), class: "Group-Info_Edit" do
        Edit

  .Main__message-list
    = render @messages


  .Main__message-form
    = form_with model: [@group, @message], html: {class: "message-form"}, local: true do |f|
      .message-form__inputbox
        = f.text_field :content, class: 'message-form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'message-form__label' do
          = icon('far', 'image', class: 'message-form__icon')
          = f.file_field :image, class: 'None'
      = f.submit 'Send', class: 'message-form__submit'