.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name--icon
      .Side-bar__user-name--icon--left
        = current_user.name
      .Side-bar__user-name--icon--right
        .Side-bar__user-name--icon--right--list
          = link_to new_group_path(current_user) do
            = icon('far', 'edit')
        .Side-bar__user-name--icon--right--list
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')


  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group-list--group
        = link_to '#' do
          .Side-bar__group-list--group--name
            = group.name
          .Side-bar__group-list--group--message
            まだメッセージがありません